<div class="container text-center">
  <!-- <% provide(:button_text, 'Save changes') %> -->
  <h1>Update your profile</h1>
  <div class="text">
    <%= render 'form' %>
  </div>
</div>

<%= render 'welcome/footer' %>
