<footer>

  <div class="container">

    <div class="row">

      <div class="col-sm-3 col-md-3">
        <img src="http://i64.tinypic.com/289e6ug.jpg" alt="school logo">
      </div>

      <div class="col-sm-9 col-md-9">

        <nav class="nav">
          <%= link_to "Home" , welcome_path %>
          <%= link_to "Contact us" , contact_path %>
        </nav>

        <span class="d-flex">
          <i class="fa fa-map-marker"></i>
          <p>58 a, Ho Chi Minh Sarani, Middleton Row</p>
        </span>
      </div>

    </div>

  </div>

</footer>
