<%= render 'welcome/navigation' %>

<div class="container achievements">

  <img class="col-md-12" src="http://i68.tinypic.com/2sa0b5f.jpg" alt="">
  <img class="col-md-12" src="http://i68.tinypic.com/vdfg9k.jpg" alt="">

</div>

<%= render 'welcome/footer' %>
