<%= render 'welcome/navigation' %>

<div class="container contact">
  <h2 class="text-center">Contact Us</h2>

  <div class="row">

    <span class="col-md-6">
      <h4>High School</h4>
      <p>254 Shanti Pally, RB Connector,
        Kolkata 700 107
        Telephone: +91 33 71300258, +91 33 71300265
        Fax: +91 33 2441 5301</p>
    </span>

    <span class="col-md-6">
      <h4>Junior School</h4>
      <p>
        138 Ruby Park, Kasba Rathtala,
        Kolkata 700 078
        Telephone: +91 33 71300239, +91 33 71300240
        Fax: +91 33 2441 5168
      </p>
    </span>

  </div>

  <div class="col-md-12 text-center">
    <h4>Admin & School Admission Office</h4>
    <p>
      “The Chambers” Kasba, Opp. Gitanjali Stadium, Premises 1865, Unit 104-106, Rajdanga Main Road,
      Kolkata-700107, West Bengal
      Telephone: +91 33 71300221, +91 33 71300233
      Email: adm2017@dpskolkata.com
    </p>
  </div>

</div>

<%= render 'welcome/footer' %>
