<%= render 'welcome/navigation'%>

<div class="container fee">
  <h2 class="text-center">FEE STRUCTURE 2019-2020</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th> 1ST Quarter </th>
        <th> Kindergarden Section </th>
        <th> Junior Section </th>
        <th> Boys Section (class 5 to 12) </th>
        <th> Girls Section (class 5 to 12) </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tuition Fees</td>
        <td> 17,000.00 </td>
        <td> 15,750.00 </td>
        <td> 15,000.00 </td>
        <td> 15,000.00 </td>
      </tr>
      <tr>
        <td>Session Fees (Annual)</td>
        <td>14,000.00</td>
        <td>14,000.00</td>
        <td>14,000.00</td>
        <td>14,000.00</td>
      </tr>
      <tr>
        <td>Infrastructure Development Fees (Annual)</td>
        <td>5,000.00</td>
        <td>5,000.00</td>
        <td>5,000.00</td>
        <td>5,000.00</td>
      </tr>
    </tbody>
    <tfoot>
    <tr>
      <td>Total (1st quarter)</td>
      <td>36,000.00</td>
      <td>34,750.00</td>
      <td>34,000.00</td>
      <td>34,000.00</td>
    </tr>
  </tfoot>
  </table>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>2nd / 3rd / 4th Quarter</th>
        <th> Kindergarden Section </th>
        <th> Junior Section </th>
        <th> Boys Section (class 5 to 12) </th>
        <th> Girls Section (class 5 to 12) </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tuition Fees - 2nd Quarter</td>
        <td> 17,500.00 </td>
        <td> 15,750.00 </td>
        <td> 15,000.00 </td>
        <td> 15,000.00 </td>
      </tr>
      <tr>
        <td>Tuition Fees - 3rd Quarter</td>
        <td> 17,500.00 </td>
        <td> 15,750.00 </td>
        <td> 15,000.00 </td>
        <td> 15,000.00 </td>
      </tr>
      <tr>
        <td>Tuition Fees - 4th Quarter</td>
        <td> 17,500.00 </td>
        <td> 15,750.00 </td>
        <td> 15,000.00 </td>
        <td> 15,000.00 </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    <tfoot>
    <tr>
      <td>Full Year Fees</td>
      <td>87,000.00</td>
      <td>82,000.00</td>
      <td>79,000.00</td>
      <td>79,000.00</td>
    </tr>
  </tfoot>
  </table>

  <h4>ONE TIME PAYMENT DURING ADMISSION</h4>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Admission Fees</th>
        <th>1,50,000.00</th>
        <th>1,50,000.00</th>
        <th>1,50,000.00</th>
        <th>1,50,000.00</th>
      </tr>
    </thead>
  </table>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Building Fees</th>
        <th> 20,000.00</th>
        <th> 20,000.00</th>
        <th> 20,000.00</th>
        <th> 20,000.00</th>
      </tr>
    </thead>
  </table>

</div>

<%= render 'welcome/footer' %>
