<div class="container">

  <div class="information">
    <h2>Admission Procedure</h2>
    <ul>
      <li>The list of selected candidates will be put up on the Notice Board at the Admission Office</li>
      <li>The Admission procedure will be intimated to the parents of the selected candidates along with the fee slip. It is mandatory for both the parents and local / legal guardian to be present to complete various admission formalities.</li>
      <li>For students seeking admission to Class I onwards, it is mandatory to submit the Original Transfer Certificate from the last school attended.</li>
      <li>Fees once paid at the time of admission is non refundable, except the Caution Money (Refundable) in case of withdrawal.</li>
      <li>The Management reserves the right to have the last word in all matters related to admission.</li>
    </ul>
  </div>

  <div class="information">
    <h2>General Instructions</h2>
    <ul>
      <li>Please upload latest passport sized coloured photographs of the student on the designated place of the Application Form.</li>
      <li>Please paste passport sized coloured photographs (must be identical to the uploaded photographs) of the student on the designated place of the printed Application Form.</li>
      <li>There will be an assessment on the intimated date for students seeking admission to Class I onwards. During the assessment, presence of both the parents will be mandatory.</li>
      <li>For admission to Kindergarden, the teacher only observes/interacts with the child along with the parents. Both the parents must accompany the child.</li>
      <li>No request for any change of dates for assessment/observation/interaction/Interview will be entertained.</li>
      <li>
        <dl>
          <dt>For class 11</dt>
          <dd>Your 10th marksheet</dd>
          <dd>Migration certificate from board</dd>
          <dd>Character certificate / bonafide certificate from last school's principal</dd>
          <dd>Your 10th admit card</dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

<%= render 'welcome/footer' %>
