<div class="container">

  <h2>Appointment Schedule from kindergarden to class 12 for the year 2019-2020</h2>

  <div class="table-responsive">
    <table class="table table-bordered table-hover table-active">
      <thead>
        <tr>
          <th>Section</th>
          <th>Date</th>
          <th>Timing</th>
          <th>Seating Area</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>KINDERGARDEN</td>
          <td>10 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>Room no. 201 & 202</td>
        </tr>
        <tr>
          <td>CLASS 1</td>
          <td>13 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>Room no. 204 & 205</td>
        </tr>
        <tr>
          <td>CLASS 2</td>
          <td>13 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>Room no. 304 & 305</td>
        </tr>
        <tr>
          <td>CLASS 3</td>
          <td>13 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>Room no. 404 & 405</td>
        </tr>
        <tr>
          <td>CLASS 4</td>
          <td>13 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>Room no. 402 & 403</td>
        </tr>
        <tr>
          <td>CLASS 5(BOY'S)</td>
          <td>15 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>Room no. 201 & 202</td>
        </tr>
        <tr>
          <td>CLASS 5(GIRL'S)</td>
          <td>15 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>Room no. 101 & 102</td>
        </tr>
        <tr>
          <td>CLASS 6(BOY'S)</td>
          <td>18 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>Room no. 201 & 202</td>
        </tr>
        <tr>
          <td>CLASS 6(GIRL'S)</td>
          <td>18 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>Room no. 101 & 102</td>
        </tr>
        <tr>
          <td>CLASS 7(BOY'S)</td>
          <td>19 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>A.V ROOM NO. 1</td>
        </tr>
        <tr>
          <td>CLASS 7(GIRL'S)</td>
          <td>19 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>A.V ROOM NO. 2</td>
        </tr>
        <tr>
          <td>CLASS 8(BOY'S)</td>
          <td>20 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>A.V ROOM NO. 1</td>
        </tr>
        <tr>
          <td>CLASS 8(GIRL'S)</td>
          <td>20 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>A.V ROOM NO. 2</td>
        </tr>
        <tr>
          <td>CLASS 9(BOY'S)</td>
          <td>21 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>A.V ROOM NO. 1</td>
        </tr>
        <tr>
          <td>CLASS 9(GIRL'S)</td>
          <td>21 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>A.V ROOM NO. 2</td>
        </tr>
        <tr>
          <td>CLASS 10(BOY'S)</td>
          <td>22 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>A.V ROOM NO. 1</td>
        </tr>
        <tr>
          <td>CLASS 10(GIRL'S)</td>
          <td>22 December 2018</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>A.V ROOM NO. 2</td>
        </tr>
        <tr>
          <td>CLASS 11(BOY'S)</td>
          <td>7 January 2019</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>A.V ROOM NO. 1</td>
        </tr>
        <tr>
          <td>CLASS 11(GIRL'S)</td>
          <td>7 January 2019</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>A.V ROOM NO. 2</td>
        </tr>
        <tr>
          <td>CLASS 12(BOY'S)</td>
          <td>9 January 2019</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>A.V ROOM NO. 1</td>
        </tr>
        <tr>
          <td>CLASS 12(GIRL'S)</td>
          <td>9 January 2019</td>
          <td>11:00 Am to 4:00 Pm</td>
          <td>A.V ROOM NO. 2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= render 'welcome/footer' %>
