<div class="container">

  <h1>Editing Candidate</h1>

  <%= render 'form', candidate: [@candidate] %>

  <%= link_to 'Show', [@candidate.grade, @candidate] %> |
  <%= link_to 'Back To Candidates List',  [@grade.section, @grade] %>

</div>

<%= render 'welcome/footer' %>
