<div class="container section">
  <p id="notice"><%= notice %></p>

  <h1>Payments Done For:</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Candidate_id:</th>
        <th>Payment Status</th>
      </tr>
    </thead>

    <tbody>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.candidate_id %></td>
          <td>Completed</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
