<div class="container text-center">
  <img class="img-fluid" src="http://i68.tinypic.com/35iok03.png" alt="payment">
  <h2>You have paid for the candidate having id Mt-<%= @candidate.id %></h2>.
  <h3>Thanks, you paid <strong>$5.00</strong>!</h3>
  <div class="payment">
    <h3>Point to be noted</h3>
    <p>U shall get a mail within 1 day after payment.</p>
    <P>Till then do not do the payment twice for the same candidate</P>
    <p>If payment is done twice it shall be returned after admission process is over.</p>
  </div>
</div>

<%= render 'welcome/footer' %>
