.navbar {
  background-color: #283c5d;
  margin-bottom: 20px ;
  li{
    font-size: 20px ;
    @media (min-width:768px){
      font-size: 25px;
    }
  }
  img{
    width:30px;
    height:30px;
  }
  .nav-style a{
    color: #FFF;
    &:hover{
      color: #FFF;
      text-decoration: none;
    }
  }
  .dropdown-toggle{
    color: #FFF;
  }
  .drop a{
    font-size: 20px;
    display: block;
    padding-left: 10px;
    color: #000;
      &:hover{
        text-decoration: none;
        color:#283c5d;
      }
  }
}

.carousel-item img {
  margin-bottom: 15px;
  width: 100%;
  @media(min-width:992px){
    margin-top: 20px;
    height: 100vh;
  }
  @media(min-width:1200px){
    height: auto;
  }
}

aside {
  border: 2px solid;
  margin: 10px;
  @media(min-width:768px){
    margin: 0px;
  }
  p{
    text-align: justify;
    font-size: 18px;
    padding: 10px;
  }
}

.fee {
  h2{
    color: #FF5733;
    margin-top: 20px;
  }
  table,th,td{
    border: 2px solid;
    font-size: 14px;
  }
  tfoot{
    font-weight: bold;
  }
}

article{
  border:2px solid;
  margin: 20px 0 20px 0;
  padding: 20px;
   p{
    line-height: 1.8
  }
   img{
    margin-right: 15px;
  }
  h6 {
    margin-top: 10px;
  }
}

.principal {
  display: block;
  @media (min-width:768px){
    display: flex;
  }
}

.information {
  h2{

  }
  .information li {
    padding: 10px;
  }
}

.contact{
  h2{
    color: #EA250E;
    font-weight: bold;
  }
  span{
    padding: 28px;
  }
}

footer {
  margin-top: 80px;
  background-color: #FFBB33 ;
  a {
    font-size: 20px;
    font-weight: bold;
    color: #641E16  ;
    &:hover{
      text-decoration: none;
    }
  }

  nav {
    a{
      margin-top: 10px;
      padding-right: 30px;
    }
  }
  span {
    padding-top: 20px;
    i{
      padding-right: 20px;
      font-size: 20px;
    }
  }
}

.achievements img{
  margin: 10px;
}
